head
  meta(charset='utf-8')
  title Mobile - Kindred – Infinite Possibilities
  meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
  meta(name="format-detection" content="telephone=no")

  <!-- build:css vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp}) app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="main.css"/>
  <!-- endinject -->
  <!-- endbuild -->
